* {
    box-sizing: border-box;

}

.container {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
}

.score {
    display: flex;
    flex: auto;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
}

li {
    margin: 10px;
}

button {
    padding: 10px;
}